.header-content {
    text-align: left;
    font-weight: bold;
    color: #172a82;
    background-color: #c6f5f7;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-title {
    display: inline-block;
    margin-left: 250px;
}

.header-contact {
    display: inline-block;
    font-size: 25px;
    margin-left: 300px;
}