.header-content {
    text-align: left;
    font-weight: bold;
    color: #172a82;
    background-color: #c6f5f7;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-title {
    display: inline-block;
    margin-left: 250px;
}

.header-contact {
    display: inline-block;
    font-size: 25px;
    margin-left: 300px;
}

@media only screen and (max-width: 600px) {
    .header-content {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .header-title {
        display: block;
        margin-left: 0px;
    }
    
    .header-contact {
        display: block;
        font-size: 15px;
        margin-left: 0px;
    }
}